---
import lupa from '../assets/lupa.png';
import accion from '../assets/accion.png';
import comedia from '../assets/comedia.png';
import terror from '../assets/terror.png';
import romance from '../assets/romance.png';
import infantil from '../assets/infantil.png';
import historico from '../assets/historico.png';
---
<aside class="preferencias">
	<header>
        <p>Indica tus preferencias</p>
    </header>
    <div class="soloparaqueencaje">
    <input type="text" placeholder="Buscar" id="buscador", class = "buscador">
    <img src={lupa.src} class="lupa">
    </div>
    <article class="generos">
        <header>
            <p>Filtrar por género</p>
        </header>
        <main class="filtro">
            <button id="filtro0" value="Accion">
                <img src={accion.src} alt="Acción" id="f1">
                <p>Acción</p>
            </button>
            <button id="filtro1" value="Comedia">
                <img src={comedia.src} alt="Comedia" id="f2">
                <p>Comedia</p>
            </button>
            <button id="filtro2" value="Terror">
                <img src={terror.src} alt="Terror" id="f3">
                <p>Terror</p>
            </button>
            <button id="filtro3" value="Romance">
                <img src={romance.src} alt="Romance" id="f4">
                <p>Romance</p>
            </button>
            <button id="filtro4" value="Infantil">
                <img src={infantil.src} alt="Infantil" id="f5">
                <p>Infantil</p>
            </button>
            <button id="filtro5" value="Histórico">
                <img src={historico.src} alt="Histórico" id="f0">
                <p>Histórico</p>
            </button>
        </main>

    </article>
</aside>

<style>
	.preferencias{
		height: 100vh;
		background-color: #282828;
		width: 32%;
        padding-left: 4%;
        padding-right: 4%;
        display: flex;
        flex-direction: column;
        align-items: center;
	}
	.preferencias header{
		width: 100%;
		height: 10%;
		border-bottom-color: #808080;
		border-bottom-width: 1px;
        border-bottom-style: solid;
        display: flex;
        justify-content: center;
        align-items: center;
	}
    .preferencias header p{
        color: white;  
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
    }
    .buscador{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 50%;
        aspect-ratio: 6/1;
        font-size: 20px;
        border-radius: 9999999px;
        padding-left: 12%;
        border-style: solid;
        border-color: #808080;
    }
    .lupa{
        position: absolute;
        width: 2%;
        margin-left: 0.7%;
        filter: invert(0.7);
        transform: scaleX(-1);
    }
    .soloparaqueencaje{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .filtro{
        width: 100%;
        height: flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2%;
    }
    .filtro button{
        width: 45%;
        margin-bottom: 1%;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        border-style: none;
        border-color: white;
        border-width: 2px;
    }
    .filtro button p{
        margin: 0;
        color: white;
    }
    .filtro button img{
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
    }
</style>